server:
  http_listen_port: 3200
  grpc_listen_port: 9095
  log_level: info
  http_tls_config:
    cert_file: ${TLS_CERT_PATH}
    key_file: ${TLS_KEY_PATH}

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
          tls:
            cert_file: ${TLS_CERT_PATH}
            key_file: ${TLS_KEY_PATH}
        http:
          endpoint: 0.0.0.0:4318
          tls:
            cert_file: ${TLS_CERT_PATH}
            key_file: ${TLS_KEY_PATH}

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 1h

metrics_generator:
  registry:
    external_labels:
      source: tempo
  storage:
    path: /var/tempo/generator/wal
  traces_storage:
    path: /var/tempo/generator/traces

storage:
  trace:
    backend: local
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo/blocks

query_frontend:
  search:
    duration_slo: 5s
    throughput_bytes_slo: 1.073741824e+09
  trace_by_id:
    duration_slo: 5s

querier:
  frontend_worker:
    frontend_address: 127.0.0.1:9095

overrides:
  defaults:
    metrics_generator:
      processors: [ service-graphs, span-metrics, local-blocks ]
